img {
  border-radius: 40px;
  max-width:20%;
  max-height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 40px;
}
